
blockquote {
    border-left: 4px solid var(--neon-cyan);
    background: #111a2a;
    color: #b0e0ff;
    margin: 1.5em 0;
    padding: 0.1em 1.2em 0.8em 1.2em;
    font-style: italic;
}

code, pre {
    font-family: 'Fira Mono', 'Consolas', monospace;
    background: #181818;
    color: #39ff14;
    border-radius: 4px;
    font-size: 0.75em;
}

code {
    padding: 0.2em 0.4em;
}

pre {
    padding: 1em;
    overflow-x: auto;
    margin: 1.5em 0;
}

.text {
    background: #000033;
    border: 3px ridge var(--neon-cyan);
    padding: 1rem;
    margin: 1rem 0;
    text-align: left;
    font-size: 1.1rem;
}

.text p {
    margin-bottom: 0.5rem;

    &.small {
        font-size: 0.8rem;
    }
}

reader-warning {
    display: block;
    font-size: 0.95rem;
    text-align: center;

    &::before {
        content: "--- You might want to use reader mode for this page. I wouldn't blame you. ---";
    }
}

ul {
    width: fit-content;
    padding-left: 1rem;
    text-align: left;
}
